
ProgramaFiguras/.vs/ProgramaFiguras/xs/project-cache/ProgramaFiguras-Debug.json
ProgramaFiguras/.vs/ProgramaFiguras/xs/UserPrefs.xml
ProgramaFiguras/ProgramaFiguras/bin/Debug/net6.0/ProgramaFiguras
ProgramaFiguras/ProgramaFiguras/bin/Debug/net6.0/ProgramaFiguras.dll
ProgramaFiguras/ProgramaFiguras/bin/Debug/net6.0/ProgramaFiguras.pdb
ProgramaFiguras/ProgramaFiguras/obj/Debug/net6.0/apphost
ProgramaFiguras/ProgramaFiguras/obj/Debug/net6.0/ProgramaFiguras.csproj.AssemblyReference.cache
ProgramaFiguras/ProgramaFiguras/obj/Debug/net6.0/ProgramaFiguras.csproj.CoreCompileInputs.cache
ProgramaFiguras/ProgramaFiguras/obj/Debug/net6.0/ProgramaFiguras.dll
ProgramaFiguras/ProgramaFiguras/obj/Debug/net6.0/ProgramaFiguras.pdb
ProgramaFiguras/ProgramaFiguras/obj/ProgramaFiguras.csproj.nuget.dgspec.json
ProgramaFiguras/ProgramaFiguras/obj/project.assets.json
ProgramaFiguras/ProgramaFiguras/obj/project.nuget.cache
LibreriaFiguras/.vs/LibreriaFiguras/xs/project-cache/LibreriaFiguras-Debug.json
LibreriaFiguras/.vs/LibreriaFiguras/xs/UserPrefs.xml
LibreriaFiguras/LibreriaFiguras/obj/Debug/net6.0/LibreriaFiguras.csproj.AssemblyReference.cache
LibreriaFiguras/LibreriaFiguras/obj/LibreriaFiguras.csproj.nuget.dgspec.json
LibreriaFiguras/LibreriaFiguras/obj/project.assets.json
LibreriaFiguras/LibreriaFiguras/obj/project.nuget.cache
ProgramaFiguras/.vs/ProgramaFiguras/xs/UserPrefs.xml
